flow.xml
<?xml version="1.0" encoding="UTF-8"?><flowController encoding-version="1.4">
  <maxTimerDrivenThreadCount>10</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>1</maxEventDrivenThreadCount>
  <registries/>
  <parameterContexts/>
  <rootGroup>
    <id>15e85cfa-017d-1000-34e5-2c1ebd271224</id>
    <name>NiFi Flow</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
    <processor>
      <id>a58d1e88-3ca5-3079-7518-4723637d8841</id>
      <name>ReplaceText</name>
      <position x="2704.0" y="-264.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.ReplaceText</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>Regular Expression</name>
        <value>(?s)(^.*$)</value>
      </property>
      <property>
        <name>Replacement Value</name>
        <value>${aws.lambda.result.payload}</value>
      </property>
      <property>
        <name>Character Set</name>
        <value>UTF-8</value>
      </property>
      <property>
        <name>Maximum Buffer Size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>Replacement Strategy</name>
        <value>Regex Replace</value>
      </property>
      <property>
        <name>Evaluation Mode</name>
        <value>Line-by-Line</value>
      </property>
      <property>
        <name>Line-by-Line Evaluation Mode</name>
        <value>All</value>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>5fd8d9a6-b2ed-39eb-d4cd-098f84854d3f</id>
      <name>Listen-Twitter</name>
      <position x="1904.0" y="424.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.ListenHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>Base Path</name>
        <value>twitterListener</value>
      </property>
      <property>
        <name>Listening Port</name>
        <value>7001</value>
      </property>
      <property>
        <name>health-check-port</name>
      </property>
      <property>
        <name>Max Data to Receive per Second</name>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>client-authentication</name>
        <value>AUTO</value>
      </property>
      <property>
        <name>Authorized DN Pattern</name>
        <value>.*</value>
      </property>
      <property>
        <name>Max Unconfirmed Flowfile Time</name>
        <value>60 secs</value>
      </property>
      <property>
        <name>HTTP Headers to receive as Attributes (Regex)</name>
      </property>
      <property>
        <name>Return Code</name>
        <value>200</value>
      </property>
      <property>
        <name>multipart-request-max-size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>multipart-read-buffer-size</name>
        <value>512 KB</value>
      </property>
    </processor>
    <processor>
      <id>5896cf88-017d-1000-c2a7-1deab582ef70</id>
      <name>PutKinesis-Twitter</name>
      <position x="1904.0" y="80.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.aws.kinesis.stream.PutKinesisStream</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-aws-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>kinesis-stream-name</name>
        <value>twitter-stream</value>
      </property>
      <property>
        <name>amazon-kinesis-stream-partition-key</name>
        <value>${kinesis.partition.key}</value>
      </property>
      <property>
        <name>message-batch-size</name>
        <value>250</value>
      </property>
      <property>
        <name>max-message-buffer-size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>Region</name>
        <value>us-east-1</value>
      </property>
      <property>
        <name>Access Key</name>
      </property>
      <property>
        <name>Secret Key</name>
      </property>
      <property>
        <name>Credentials File</name>
      </property>
      <property>
        <name>AWS Credentials Provider service</name>
        <value>15ea194f-017d-1000-2a8f-e937786a45d4</value>
      </property>
      <property>
        <name>Communications Timeout</name>
        <value>30 secs</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Host Port</name>
      </property>
      <property>
        <name>proxy-user-name</name>
      </property>
      <property>
        <name>proxy-user-password</name>
      </property>
      <property>
        <name>Endpoint Override URL</name>
      </property>
      <autoTerminatedRelationship>success</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>393042a9-d02c-3acf-11aa-bde12befc8a7</id>
      <name>Listen-RedditStream</name>
      <position x="1360.0" y="426.53125"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.ListenHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>Base Path</name>
        <value>redditListener</value>
      </property>
      <property>
        <name>Listening Port</name>
        <value>7002</value>
      </property>
      <property>
        <name>health-check-port</name>
      </property>
      <property>
        <name>Max Data to Receive per Second</name>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>client-authentication</name>
        <value>AUTO</value>
      </property>
      <property>
        <name>Authorized DN Pattern</name>
        <value>.*</value>
      </property>
      <property>
        <name>Max Unconfirmed Flowfile Time</name>
        <value>60 secs</value>
      </property>
      <property>
        <name>HTTP Headers to receive as Attributes (Regex)</name>
      </property>
      <property>
        <name>Return Code</name>
        <value>200</value>
      </property>
      <property>
        <name>multipart-request-max-size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>multipart-read-buffer-size</name>
        <value>512 KB</value>
      </property>
    </processor>
    <processor>
      <id>07b384cd-e347-3a77-456e-7dfe0e82d46e</id>
      <name>ExtractMetadata</name>
      <position x="2704.0" y="64.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.aws.lambda.PutLambda</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-aws-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>Amazon Lambda Name</name>
        <value>TwitterMetaExtractor</value>
      </property>
      <property>
        <name>Amazon Lambda Qualifier (version)</name>
        <value>$LATEST</value>
      </property>
      <property>
        <name>Region</name>
        <value>us-east-1</value>
      </property>
      <property>
        <name>Access Key</name>
      </property>
      <property>
        <name>Secret Key</name>
      </property>
      <property>
        <name>Credentials File</name>
      </property>
      <property>
        <name>AWS Credentials Provider service</name>
        <value>15ea194f-017d-1000-2a8f-e937786a45d4</value>
      </property>
      <property>
        <name>Communications Timeout</name>
        <value>30 secs</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Host Port</name>
      </property>
      <property>
        <name>proxy-user-name</name>
      </property>
      <property>
        <name>proxy-user-password</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>9e113471-88c3-3cb6-39c5-3282573bad04</id>
      <name>PutKinesis-Reddit</name>
      <position x="1360.0" y="80.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.aws.kinesis.stream.PutKinesisStream</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-aws-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>kinesis-stream-name</name>
        <value>reddit-stream</value>
      </property>
      <property>
        <name>amazon-kinesis-stream-partition-key</name>
        <value>${kinesis.partition.key}</value>
      </property>
      <property>
        <name>message-batch-size</name>
        <value>250</value>
      </property>
      <property>
        <name>max-message-buffer-size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>Region</name>
        <value>us-east-1</value>
      </property>
      <property>
        <name>Access Key</name>
      </property>
      <property>
        <name>Secret Key</name>
      </property>
      <property>
        <name>Credentials File</name>
      </property>
      <property>
        <name>AWS Credentials Provider service</name>
        <value>15ea194f-017d-1000-2a8f-e937786a45d4</value>
      </property>
      <property>
        <name>Communications Timeout</name>
        <value>30 secs</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Host Port</name>
      </property>
      <property>
        <name>proxy-user-name</name>
      </property>
      <property>
        <name>proxy-user-password</name>
      </property>
      <property>
        <name>Endpoint Override URL</name>
      </property>
      <autoTerminatedRelationship>success</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>6842f438-017d-1000-2ba8-abd4a2871b39</id>
      <name>PutS3Object</name>
      <position x="3288.0" y="-256.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.aws.s3.PutS3Object</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-aws-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>RUNNING</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <property>
        <name>Object Key</name>
        <value>${UUID()}.json</value>
      </property>
      <property>
        <name>Bucket</name>
        <value>hadoop-data2</value>
      </property>
      <property>
        <name>Content Type</name>
      </property>
      <property>
        <name>Content Disposition</name>
      </property>
      <property>
        <name>Cache Control</name>
      </property>
      <property>
        <name>Access Key</name>
      </property>
      <property>
        <name>Secret Key</name>
      </property>
      <property>
        <name>Credentials File</name>
      </property>
      <property>
        <name>AWS Credentials Provider service</name>
        <value>15ea194f-017d-1000-2a8f-e937786a45d4</value>
      </property>
      <property>
        <name>s3-object-tags-prefix</name>
      </property>
      <property>
        <name>s3-object-remove-tags-prefix</name>
        <value>false</value>
      </property>
      <property>
        <name>Storage Class</name>
        <value>Standard</value>
      </property>
      <property>
        <name>Region</name>
        <value>us-east-1</value>
      </property>
      <property>
        <name>Communications Timeout</name>
        <value>30 secs</value>
      </property>
      <property>
        <name>Expiration Time Rule</name>
      </property>
      <property>
        <name>FullControl User List</name>
        <value>${s3.permissions.full.users}</value>
      </property>
      <property>
        <name>Read Permission User List</name>
        <value>${s3.permissions.read.users}</value>
      </property>
      <property>
        <name>Write Permission User List</name>
        <value>${s3.permissions.write.users}</value>
      </property>
      <property>
        <name>Read ACL User List</name>
        <value>${s3.permissions.readacl.users}</value>
      </property>
      <property>
        <name>Write ACL User List</name>
        <value>${s3.permissions.writeacl.users}</value>
      </property>
      <property>
        <name>Owner</name>
        <value>${s3.owner}</value>
      </property>
      <property>
        <name>canned-acl</name>
        <value>${s3.permissions.cannedacl}</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Endpoint Override URL</name>
      </property>
      <property>
        <name>Signer Override</name>
        <value>Default Signature</value>
      </property>
      <property>
        <name>Multipart Threshold</name>
        <value>5 GB</value>
      </property>
      <property>
        <name>Multipart Part Size</name>
        <value>5 GB</value>
      </property>
      <property>
        <name>Multipart Upload AgeOff Interval</name>
        <value>60 min</value>
      </property>
      <property>
        <name>Multipart Upload Max Age Threshold</name>
        <value>7 days</value>
      </property>
      <property>
        <name>s3-temporary-directory-multipart</name>
        <value>${java.io.tmpdir}</value>
      </property>
      <property>
        <name>server-side-encryption</name>
        <value>None</value>
      </property>
      <property>
        <name>encryption-service</name>
      </property>
      <property>
        <name>use-chunked-encoding</name>
        <value>true</value>
      </property>
      <property>
        <name>use-path-style-access</name>
        <value>false</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Host Port</name>
      </property>
      <property>
        <name>proxy-user-name</name>
      </property>
      <property>
        <name>proxy-user-password</name>
      </property>
      <autoTerminatedRelationship>success</autoTerminatedRelationship>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <label>
      <id>017d1000-2a78-1e22-da6a-8b74eb1b7516</id>
      <position x="1824.0" y="-296.0"/>
      <size height="880.0" width="752.0"/>
      <styles>
        <style name="font-size">22px</style>
      </styles>
      <value>Twitter pipeline</value>
    </label>
    <label>
      <id>017d100e-b706-13bc-2b3e-1e0f5bfabff5</id>
      <position x="2648.0" y="-296.0"/>
      <size height="880.0" width="968.0"/>
      <styles>
        <style name="font-size">22px</style>
      </styles>
      <value>Metadata extraction
</value>
    </label>
    <label>
      <id>5e222a78-017d-1000-97aa-a9d82353bf94</id>
      <position x="1008.0" y="-296.0"/>
      <size height="880.0" width="752.0"/>
      <styles>
        <style name="font-size">22px</style>
      </styles>
      <value>Reddit pipeline</value>
    </label>
    <processGroup>
      <id>017d1002-2a78-1e22-538f-416aa31dce92</id>
      <name>Retry-Twitter-Kinesis</name>
      <position x="1888.0" y="-256.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <processor>
        <id>017d1006-2a78-1e22-b6f0-fb722c09d286</id>
        <name>Set retry counter</name>
        <position x="553.5000318801578" y="292.12000636602465"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-update-attribute-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Delete Attributes Expression</name>
        </property>
        <property>
          <name>Store State</name>
          <value>Do not store state</value>
        </property>
        <property>
          <name>Stateful Variables Initial Value</name>
        </property>
        <property>
          <name>canonical-value-lookup-cache-size</name>
          <value>100</value>
        </property>
        <property>
          <name>retry.counter</name>
          <value>${retry.counter:replaceNull('0'):plus(1)}</value>
        </property>
      </processor>
      <processor>
        <id>017d1007-2a78-1e22-8464-dfab35a7bcc6</id>
        <name>Reset retry counter</name>
        <position x="1168.0" y="536.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-update-attribute-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Delete Attributes Expression</name>
        </property>
        <property>
          <name>Store State</name>
          <value>Do not store state</value>
        </property>
        <property>
          <name>Stateful Variables Initial Value</name>
        </property>
        <property>
          <name>canonical-value-lookup-cache-size</name>
          <value>100</value>
        </property>
        <property>
          <name>retry.counter</name>
          <value>0</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>017d1005-2a78-1e22-0510-b8b5d51e50a4</id>
        <name>Check Retry Count</name>
        <position x="555.0000776565249" y="527.9600063660247"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Routing Strategy</name>
          <value>Route to Property name</value>
        </property>
        <property>
          <name>Try again</name>
          <value>${retry.counter:le('3')}</value>
        </property>
      </processor>
      <inputPort>
        <id>017d1003-2a78-1e22-3f7d-045ddfb19b46</id>
        <name>data</name>
        <position x="64.0" y="336.0"/>
        <comments/>
        <scheduledState>RUNNING</scheduledState>
      </inputPort>
      <outputPort>
        <id>017d1004-2a78-1e22-e510-a29640e4ab84</id>
        <name>retry</name>
        <position x="64.0" y="560.0"/>
        <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
        <scheduledState>RUNNING</scheduledState>
      </outputPort>
      <connection>
        <id>017d1009-2a78-1e22-e36b-3a956357a2d1</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>017d1005-2a78-1e22-0510-b8b5d51e50a4</sourceId>
        <sourceGroupId>017d1002-2a78-1e22-538f-416aa31dce92</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>017d1004-2a78-1e22-e510-a29640e4ab84</destinationId>
        <destinationGroupId>017d1002-2a78-1e22-538f-416aa31dce92</destinationGroupId>
        <destinationType>OUTPUT_PORT</destinationType>
        <relationship>Try again</relationship>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>017d100a-2a78-1e22-74a0-a8ec2696b389</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>017d1006-2a78-1e22-b6f0-fb722c09d286</sourceId>
        <sourceGroupId>017d1002-2a78-1e22-538f-416aa31dce92</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>017d1005-2a78-1e22-0510-b8b5d51e50a4</destinationId>
        <destinationGroupId>017d1002-2a78-1e22-538f-416aa31dce92</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>017d100b-2a78-1e22-eaee-0d0ab9262263</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>017d1005-2a78-1e22-0510-b8b5d51e50a4</sourceId>
        <sourceGroupId>017d1002-2a78-1e22-538f-416aa31dce92</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>017d1007-2a78-1e22-8464-dfab35a7bcc6</destinationId>
        <destinationGroupId>017d1002-2a78-1e22-538f-416aa31dce92</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>unmatched</relationship>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>017d1008-2a78-1e22-dec6-864e513dfd3d</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>017d1003-2a78-1e22-3f7d-045ddfb19b46</sourceId>
        <sourceGroupId>017d1002-2a78-1e22-538f-416aa31dce92</sourceGroupId>
        <sourceType>INPUT_PORT</sourceType>
        <destinationId>017d1006-2a78-1e22-b6f0-fb722c09d286</destinationId>
        <destinationGroupId>017d1002-2a78-1e22-538f-416aa31dce92</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship/>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
    </processGroup>
    <processGroup>
      <id>d80fe614-b7e0-46bc-6cf9-ada564c87885</id>
      <name>Retry-Reddit-Kinesis</name>
      <position x="1344.0" y="-256.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <processor>
        <id>10f53281-4064-4725-2263-6fbc3771efb2</id>
        <name>Check Retry Count</name>
        <position x="555.0000776565249" y="527.9600063660247"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Routing Strategy</name>
          <value>Route to Property name</value>
        </property>
        <property>
          <name>Try again</name>
          <value>${retry.counter:le('3')}</value>
        </property>
      </processor>
      <processor>
        <id>8692729d-e3f2-472d-0338-565075a727bc</id>
        <name>Set retry counter</name>
        <position x="553.5000318801578" y="292.12000636602465"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-update-attribute-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Delete Attributes Expression</name>
        </property>
        <property>
          <name>Store State</name>
          <value>Do not store state</value>
        </property>
        <property>
          <name>Stateful Variables Initial Value</name>
        </property>
        <property>
          <name>canonical-value-lookup-cache-size</name>
          <value>100</value>
        </property>
        <property>
          <name>retry.counter</name>
          <value>${retry.counter:replaceNull('0'):plus(1)}</value>
        </property>
      </processor>
      <processor>
        <id>34b75d26-46b8-3d67-fae5-80b87c55def8</id>
        <name>Reset retry counter</name>
        <position x="1168.0" y="536.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-update-attribute-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Delete Attributes Expression</name>
        </property>
        <property>
          <name>Store State</name>
          <value>Do not store state</value>
        </property>
        <property>
          <name>Stateful Variables Initial Value</name>
        </property>
        <property>
          <name>canonical-value-lookup-cache-size</name>
          <value>100</value>
        </property>
        <property>
          <name>retry.counter</name>
          <value>0</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <inputPort>
        <id>535627d4-d4fb-4963-7331-41b3f418e51c</id>
        <name>data</name>
        <position x="64.0" y="336.0"/>
        <comments/>
        <scheduledState>RUNNING</scheduledState>
      </inputPort>
      <outputPort>
        <id>de67351f-6e63-4557-6115-d32b0bb45420</id>
        <name>retry</name>
        <position x="64.0" y="560.0"/>
        <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
        <scheduledState>RUNNING</scheduledState>
      </outputPort>
      <connection>
        <id>fb4298e6-37b3-47ae-b710-70005efedc44</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>535627d4-d4fb-4963-7331-41b3f418e51c</sourceId>
        <sourceGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</sourceGroupId>
        <sourceType>INPUT_PORT</sourceType>
        <destinationId>8692729d-e3f2-472d-0338-565075a727bc</destinationId>
        <destinationGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship/>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>155cdc9a-b9ff-4f6d-57ef-0b3dfa5fcab1</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>10f53281-4064-4725-2263-6fbc3771efb2</sourceId>
        <sourceGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>de67351f-6e63-4557-6115-d32b0bb45420</destinationId>
        <destinationGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</destinationGroupId>
        <destinationType>OUTPUT_PORT</destinationType>
        <relationship>Try again</relationship>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>d3170ec7-c212-466f-e7ff-4cd4a039ffaf</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>8692729d-e3f2-472d-0338-565075a727bc</sourceId>
        <sourceGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>10f53281-4064-4725-2263-6fbc3771efb2</destinationId>
        <destinationGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>ec2fe73b-c7c0-489c-e567-97a554226b66</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>10f53281-4064-4725-2263-6fbc3771efb2</sourceId>
        <sourceGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>34b75d26-46b8-3d67-fae5-80b87c55def8</destinationId>
        <destinationGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>unmatched</relationship>
        <maxWorkQueueSize>10</maxWorkQueueSize>
        <maxWorkQueueDataSize>0 MB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
    </processGroup>
    <processGroup>
      <id>63bf4308-017d-1000-b80f-0efcad32ee80</id>
      <name>TransformJson</name>
      <position x="2688.0" y="408.0"/>
      <comment>Changes {"user": "ABC", "extractionTime": 123, "data": ...} to {"user": "ABC"}.</comment>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <processor>
        <id>017d1001-d49b-171e-e2f2-b84d0136ef2a</id>
        <name>GetAccountsUsernames</name>
        <position x="288.0" y="448.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>3600 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>HTTP Method</name>
          <value>GET</value>
        </property>
        <property>
          <name>Remote URL</name>
          <value>https://raw.githubusercontent.com/tryptofanik/us-politicians-tweets/master/accounts_data/usernames.json</value>
        </property>
        <property>
          <name>SSL Context Service</name>
        </property>
        <property>
          <name>Connection Timeout</name>
          <value>5 secs</value>
        </property>
        <property>
          <name>Read Timeout</name>
          <value>15 secs</value>
        </property>
        <property>
          <name>idle-timeout</name>
          <value>5 mins</value>
        </property>
        <property>
          <name>max-idle-connections</name>
          <value>5</value>
        </property>
        <property>
          <name>Include Date Header</name>
          <value>True</value>
        </property>
        <property>
          <name>Follow Redirects</name>
          <value>True</value>
        </property>
        <property>
          <name>disable-http2</name>
          <value>False</value>
        </property>
        <property>
          <name>Attributes to Send</name>
        </property>
        <property>
          <name>Useragent</name>
        </property>
        <property>
          <name>Basic Authentication Username</name>
        </property>
        <property>
          <name>Basic Authentication Password</name>
        </property>
        <property>
          <name>proxy-configuration-service</name>
        </property>
        <property>
          <name>Proxy Host</name>
        </property>
        <property>
          <name>Proxy Port</name>
        </property>
        <property>
          <name>Proxy Type</name>
          <value>http</value>
        </property>
        <property>
          <name>invokehttp-proxy-user</name>
        </property>
        <property>
          <name>invokehttp-proxy-password</name>
        </property>
        <property>
          <name>Put Response Body In Attribute</name>
        </property>
        <property>
          <name>Max Length To Put In Attribute</name>
          <value>256</value>
        </property>
        <property>
          <name>Digest Authentication</name>
          <value>false</value>
        </property>
        <property>
          <name>Always Output Response</name>
          <value>false</value>
        </property>
        <property>
          <name>Add Response Headers to Request</name>
          <value>false</value>
        </property>
        <property>
          <name>Content-Type</name>
          <value>${mime.type}</value>
        </property>
        <property>
          <name>send-message-body</name>
          <value>true</value>
        </property>
        <property>
          <name>Use Chunked Encoding</name>
          <value>false</value>
        </property>
        <property>
          <name>Penalize on "No Retry"</name>
          <value>false</value>
        </property>
        <property>
          <name>use-etag</name>
          <value>false</value>
        </property>
        <property>
          <name>etag-max-cache-size</name>
          <value>10MB</value>
        </property>
        <property>
          <name>ignore-response-content</name>
          <value>false</value>
        </property>
        <property>
          <name>form-body-form-name</name>
        </property>
        <property>
          <name>set-form-filename</name>
          <value>true</value>
        </property>
        <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
        <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
        <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>017d1002-d49b-171e-86b7-d95d4fa506d4</id>
        <name>SplitJsonToRecords</name>
        <position x="760.0" y="448.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.SplitJson</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.13.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>JsonPath Expression</name>
          <value>$.*</value>
        </property>
        <property>
          <name>Null Value Representation</name>
          <value>empty string</value>
        </property>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        <autoTerminatedRelationship>original</autoTerminatedRelationship>
      </processor>
      <outputPort>
        <id>017d1008-d49b-171e-4d03-c02f10aed4ef</id>
        <name>username</name>
        <position x="1320.0" y="488.0"/>
        <comments/>
        <scheduledState>RUNNING</scheduledState>
      </outputPort>
      <connection>
        <id>017d1009-d49b-171e-44e6-d2b60b4ae53c</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>017d1002-d49b-171e-86b7-d95d4fa506d4</sourceId>
        <sourceGroupId>63bf4308-017d-1000-b80f-0efcad32ee80</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>017d1008-d49b-171e-4d03-c02f10aed4ef</destinationId>
        <destinationGroupId>63bf4308-017d-1000-b80f-0efcad32ee80</destinationGroupId>
        <destinationType>OUTPUT_PORT</destinationType>
        <relationship>split</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>017d1003-d49b-171e-59d3-a693adeeba6d</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>017d1001-d49b-171e-e2f2-b84d0136ef2a</sourceId>
        <sourceGroupId>63bf4308-017d-1000-b80f-0efcad32ee80</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>017d1002-d49b-171e-86b7-d95d4fa506d4</destinationId>
        <destinationGroupId>63bf4308-017d-1000-b80f-0efcad32ee80</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>Response</relationship>
        <relationship>Original</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
    </processGroup>
    <connection>
      <id>017d100e-2a78-1e22-62ae-ac99c4c15bc0</id>
      <name/>
      <bendPoints>
        <bendPoint x="2424.0" y="0.0"/>
      </bendPoints>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>017d1004-2a78-1e22-e510-a29640e4ab84</sourceId>
      <sourceGroupId>017d1002-2a78-1e22-538f-416aa31dce92</sourceGroupId>
      <sourceType>OUTPUT_PORT</sourceType>
      <destinationId>5896cf88-017d-1000-c2a7-1deab582ef70</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship/>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>017d100d-b706-13bc-3a92-15b816cfd4cf</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a58d1e88-3ca5-3079-7518-4723637d8841</sourceId>
      <sourceGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>6842f438-017d-1000-2ba8-abd4a2871b39</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>5e108ccc-017d-1000-96f8-ec9f3796be8b</id>
      <name/>
      <bendPoints>
        <bendPoint x="1192.0" y="-8.0"/>
      </bendPoints>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>de67351f-6e63-4557-6115-d32b0bb45420</sourceId>
      <sourceGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</sourceGroupId>
      <sourceType>OUTPUT_PORT</sourceType>
      <destinationId>9e113471-88c3-3cb6-39c5-3282573bad04</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship/>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>6662d013-0c86-3e6c-2888-9cc282695165</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>393042a9-d02c-3acf-11aa-bde12befc8a7</sourceId>
      <sourceGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>9e113471-88c3-3cb6-39c5-3282573bad04</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <queuePrioritizerClass>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</queuePrioritizerClass>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>5e0ee92d-017d-1000-fba9-62cdfab055d8</id>
      <name>Retry</name>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>9e113471-88c3-3cb6-39c5-3282573bad04</sourceId>
      <sourceGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>535627d4-d4fb-4963-7331-41b3f418e51c</destinationId>
      <destinationGroupId>d80fe614-b7e0-46bc-6cf9-ada564c87885</destinationGroupId>
      <destinationType>INPUT_PORT</destinationType>
      <relationship>failure</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>017d100d-2a78-1e22-eae7-021e5c71242f</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>5896cf88-017d-1000-c2a7-1deab582ef70</sourceId>
      <sourceGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>017d1003-2a78-1e22-3f7d-045ddfb19b46</destinationId>
      <destinationGroupId>017d1002-2a78-1e22-538f-416aa31dce92</destinationGroupId>
      <destinationType>INPUT_PORT</destinationType>
      <relationship>failure</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>017d100a-d49b-171e-ba71-1f09787358bc</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>017d1008-d49b-171e-4d03-c02f10aed4ef</sourceId>
      <sourceGroupId>63bf4308-017d-1000-b80f-0efcad32ee80</sourceGroupId>
      <sourceType>OUTPUT_PORT</sourceType>
      <destinationId>07b384cd-e347-3a77-456e-7dfe0e82d46e</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship/>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>63acb793-017d-1000-00d1-99b79b8308cf</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>07b384cd-e347-3a77-456e-7dfe0e82d46e</sourceId>
      <sourceGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a58d1e88-3ca5-3079-7518-4723637d8841</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>469f381b-8214-338b-2a59-e73ea7547078</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>5fd8d9a6-b2ed-39eb-d4cd-098f84854d3f</sourceId>
      <sourceGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>5896cf88-017d-1000-c2a7-1deab582ef70</destinationId>
      <destinationGroupId>15e85cfa-017d-1000-34e5-2c1ebd271224</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <controllerService>
      <id>15ea194f-017d-1000-2a8f-e937786a45d4</id>
      <name>AWSCredentialsProviderControllerService</name>
      <comment/>
      <class>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-aws-nar</artifact>
        <version>1.13.2</version>
      </bundle>
      <enabled>true</enabled>
      <property>
        <name>default-credentials</name>
        <value>true</value>
      </property>
      <property>
        <name>Access Key</name>
      </property>
      <property>
        <name>Secret Key</name>
      </property>
      <property>
        <name>Credentials File</name>
      </property>
      <property>
        <name>profile-name</name>
      </property>
      <property>
        <name>anonymous-credentials</name>
        <value>false</value>
      </property>
      <property>
        <name>Assume Role ARN</name>
      </property>
      <property>
        <name>Assume Role Session Name</name>
      </property>
      <property>
        <name>Session Time</name>
        <value>3600</value>
      </property>
      <property>
        <name>assume-role-external-id</name>
      </property>
      <property>
        <name>assume-role-proxy-host</name>
      </property>
      <property>
        <name>assume-role-proxy-port</name>
      </property>
      <property>
        <name>assume-role-sts-endpoint</name>
      </property>
    </controllerService>
  </rootGroup>
  <controllerServices/>
  <reportingTasks/>
</flowController>
